@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
@font-face {
  font-family: 'matrix';
  src: url('/fonts/matrix.ttf') format("truetype");
}

body {
  background-image: url('images/matrix_gif.gif');
  background-size: cover;
  color: #0D1948;
  font-family: 'Space Mono', monospace, 'Times New Roman', Times, serif;
  font-size: 16px;
  height: 100vh;
}

h1 {
  color: #0b1e88;
  font-family: 'matrix', 'Kotta One', serif;
  font-size: 32px;
}

h2 {
  color : #ffffff;
  font-family: 'matrix', 'Kotta One', serif;
  font-size: 26px;
}

h3 {
  color: #62636A;
  font-family: 'matrix', 'Kotta One', serif;
  font-size: 20px;
}

a {
  letter-spacing: 2px;
  text-decoration: none;
}

a:hover {
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: bold;
}

.container {
  width: 700px;
  margin: 20px auto;
}

.img-circle {
  clip-path:ellipse(30% 50%);
}

.text-align {
  text-align: center;
}

.card-green {
  background-color: rgba(5, 66, 26, 0.6);
  border: #1b4332;
  border-radius: 5px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, .2);
  padding: 2px;
  margin: 20px 0;
}

.introduction {
  padding-bottom: 10px;
}

.introduction p {
  margin-bottom: 10px;
}

.btn-red {
  background-color: #EB1D36;
  color: black;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-red:hover {
  background-color: #e81730a9;
  transition: 120ms ease;
}

.list-inline li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 40px;
  margin: 15px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}

/* Button */

body button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F8F005;
}

.button, button::after {
  width: 380px;
  height: 86px;
  font-size: 36px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #1E19AA 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  /* box-shadow: 6px 0px 0px #00E6F6; */
  outline: transparent;
  position: relative;
}

.button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'AVAILABLE NOW';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
